amharic_tokenizer/cache
amharic_tokenizer/gmon.out
cache
pipeline_under_dev
__pycache__
.DS_Store
ref_code
data
_unsloth_temporary_saved_buffers
trainer_output
unsloth_compiled_cache
finetuned_models
test_finetuned_models
pretrained_models
processed_amharic_data
llama3_tokenizer_amharic_extended
llama3_tokenizer_amharic_extended_2sources
llama3_tokenizer_amharic_extended_3sources
rasyosef_tokenizer_w_special_tokens
perplexity_plot.png
loss_vs_timestep_updated.pdf
loss_vs_timestep.pdf
perplexity_plot.pdf
merged_pretrained_models
MMLU/*.csv
perplexities.txt